{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'weatherapp/css/style.css' %}">
    <title>WeatherApp</title>
</head>
<body>
    <h1>Weather App</h1>
    {% if messages %}
        
    {% for message in  messages%}
            <div class="message">{{ message }}</div>
    {% endfor %}
        
    {% endif %}
    <br>
   



    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter a city">
        <input type="submit" value="Add city" >
    </form>


    {% for i in city_data  %}
    <div class="card">
    <div class="card-item">
        {{i.city}} <br>
        {{i.temp}}&#8451 <br>
        <img src="http://openweathermap.org/img/wn/{{i.icon}}@2x.png" alt=""> <br>
        {{i.desc}} <br>
        <button><a href="{% url 'delete' i.city.id %}">Delete</a></button>
        


    </div>
   
     {% endfor %}

    </div>
    

    <script src="{% static 'weatherapp/js/timeout.js' %}"></script>
   
</body>
</html>